main {
    background-color: black;
    height: 800px;
}
h3 {
text-align: center;
color: whitesmoke;
padding-top: 30px;
}
h3 {
    padding-left: 10px;
    padding-right: 10px;
}
form section {
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}
.menu {
   color: whitesmoke;
   display: flex;
   justify-content: space-around;
}
.inp {
    margin-left: 20px;
    margin-right: 50px;
    width: 300px;
}

.Lab {
    margin-left: 20px;
}

#bt {
    margin-left: 15px;
    margin-top: 15px;
}

li {
    color: white;
}

.actions {
        padding-top: 20px;
        color: black;
        display: flex;
        justify-content: space-around;
        
     
}

.actions button {
    font-size: 30px;
    font-size: 30px;
        border-radius: 5px;
        background-color: tomato;
        font-weight: bold;
    background-color: tomato;
    font-weight: bold;
    border-color: black;
}

.actions button:hover {
 opacity: 0.7;
}


#tab {
    
    background-color: whitesmoke;
    color: black;
    margin-left: 20px;
}

.bloco {

        width: 200px;
}


